
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
  position: relative;
}

.paleta{
    background: #99a88c;
    background: #335c67;
    background: #e8e8e8;
    background: #fff9d6;
    background: #e09f3e;
    background: #9e2a2b;
    background: #540b0e;
}
@font-face { font-family: Ralewey; src: url(font/Raleway-VariableFont_wght.ttf);}
@font-face { font-family: Italiana; src: url(font/Italiana-Regular.ttf);}

p{font-family: Ralewey; font-size: 1.3rem;}
h2{font-family: Ralewey; font-size: 2em;}
h1{font-family: Ralewey; font-size: 3em;}

.center{
  width: 100%;
  display: flex;
  justify-content: center;
}
.content-header{
    position: relative;
    object-fit: cover;
}
.carousel-inner{
  filter: brightness(60%);
}
.infoHeader{
    position: absolute;
    top: 45%;
    left: 15%;
    color: white;
    text-shadow: 3px 3px 3px black;
    z-index: 2;
}
.infoHeader p{
  margin: 0;
}
.conten-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 40;
}

.div-nav{
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0px 0px 10px 10px;
}

.div-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 600px) {
  .div-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
  }

}
  
.div-nav ul li{
    display: inline-block;
}

.div-nav ul li a{
    display: block;
    padding: 0.5rem  1rem ;
    text-decoration: none;
    color: #000;
    font-family: Ralewey;

}
.div-nav ul li a:hover{
  color: rgba(255, 255, 255, 1);
}


/* estilos de la galeria de fotos */

.gallery-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9e2a2b;
  height: auto;
  color: #fff;
}
.gallery-container h2{
  margin-top: 50px;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  flex-wrap: nowrap;
  width: 80%;
  height: auto;
  margin-top: 30px;
  overflow: hidde;
}
@media screen and (max-width: 1280px){
  .gallery{
    display: grid;
    grid-template-columns: 50% 2fr;
    flex-wrap: nowrap;
    width: 50%;
    height: auto;
    margin-top: 30px;
    overflow: hidden;
  }
}

.imgs img{
  width: 100%;
  height: 100%;
  border: 3px solid rgba(0, 0, 0, 0.8);
  object-fit: cover;
  
}
.imgs img:hover{
  border: 5px solid #9e2a2b;
  cursor: pointer;
  
}
.booton{
  margin: 40px 0;
  width: 150px;
  padding: 10px 20px;
  background-color: #e09f3e;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.booton:hover{
 padding: 10px;
 width: 170px;
 color :white;
}
.firs_booton{
 text-decoration: none;
 color: white;
}

.carousel{
  max-height: 500px;
  overflow: hidden;
}

/* estilos del modal */
.modal1{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
  
}
.img-modal {
  display: flex;
  margin: 0px auto;
  width: 50%;
  height: 70%;
  object-fit: contain;
  
}
.img-modal img{
  object-fit: contain;
}
.icon-close{
  position: absolute;
  z-index: 31;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.icon-close span{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: rgba(255,255,255,0.5);
  
}

/* Sección de informacion segunda parte*/

.content_more{
  display: flex;
  width: 100%;
  background-color: #fff9d6;
}
.img_more{
  width: 30%;
  height: 100%;
}
.info_more{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.content_more p{
  font-size: 1rem;
}
.content_more h2{
  font-size: 2rem;
}

.button_more{
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #9e2a2b;
}
.button_more:hover{
    background-color: #641b1c;
}

@media screen and (max-width: 768px) {
  .content_more h2{
    font-size: 1.5rem;
  }
  .content_more p{
    font-size: 0.9rem;
  }
  .button_more{
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #9e2a2b;
  }
  
}

/* Sección de customers*/

.content_customers{
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.img_customers{
  width: 20%;
  margin: 10px 0;
}
.content_customers h2{
  text-align: center;
  padding: 20px 0;
}

.img_brand{
  width: 100%;
  display: flex;
  justify-content: space-around;
}